
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* button style */
.btn-primary{
    background-color: #4E47FF;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    padding: 12px 36px;
    border-radius: 10px;

}

/* header style */
.head{
    background-image: url('../Assets/Hero-bg.png');
    padding-bottom: 50px;
    gap: 158px;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

/* banner styles */
.banner{
    margin: 158px 200px;
    text-align: center;
}

.banner-info{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

.banner-motto{
    text-align: left;
}

.banner-second{
    display: flex;
    justify-content: space-between;
    margin: 100px 200px;
    gap: auto;
}

.banner-second-intro{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}

.banner-pic{
    border-radius: 48px;
}

.banner-description{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 1);
}

/* section styles */
.section-intro{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    margin-top: 0px;
}

/* background styles */
.secondary-bg{
    background-color: rgba(78, 71, 255, 0.1);
}

/* user styles */
.user{
    max-width: 1140px;
    padding: 50px 80px;
    margin: 0 auto;
    border-radius: 24px;
    text-align: center;
}

.user-items{
    display: flex;
    justify-content: space-around;
    gap: 0px;
}

.item-title{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  color: #4E47FF;
  margin-top: 0px;
}

.item-des{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

/* user-feedback styles */
.user-feedback{
    margin-top: 100px;
    margin-bottom: 100px;
}

.feedback{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.feedback-dt{
    text-align: left;
    padding: 24px;
    max-width: 366.67px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    gap: 24px;
}

.user-feedback-intro{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    text-align: center;
}

.feedback-name{
    display: inline-block;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    color: #757575;
    margin: auto;
}                                           

.feedback-date{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    color: #B3B3B3;
}

.r-pic{
   border-radius: 50%;
   width: 40px;
   height: 40px;
}

/* section-info styles */
.info{
    display: flex;
    justify-content: space-between;
    padding: auto;
    max-width: 1140px;
    gap: auto;
    margin: auto;
}

.welcome{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 97px;
    color: #252432;
    text-align: left;
    padding-left: 20px;
}

.l-name{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    max-height: 22px;
}

.input{
  display: block;
  width: 100%;
  padding: 20px 32px;
  margin-bottom: 24px;
  border-radius: 10px;
  border: 1px solid #D6DDED;
  visibility: visible;
  font-family: inherit;
  font-size: 1rem;
  box-sizing: border-box;
  font-size: 1rem;
}

textarea {
  display: block;
  width: 100%;
  padding: 16px 20px;
  margin-bottom: 24px;
  border-radius: 10px;
  border: 1px solid #D6DDED;
  visibility: visible;
  font-family: inherit;
  font-size: 1rem;
  box-sizing: border-box;
  font-size: 1rem;
}

.btn-secondary{
    background-color: #4E47FF;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    padding: 19px 101px;
    border-radius: 10px;
    width: 100%;
}

/* footer styles */
.end{

}

.last{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 100px;
  font-weight: 900;
  color: #4E47FF;
  text-align: center;
}

.bottom{
    color: rgba(137, 135, 161, 1);
    text-align: center;
    margin-top: 0px;
}

.btm-list{
    color: rgba(137, 135, 161, 1);
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 515px;
}

/* hover effects */
.btn-primary:hover {
  background-color: #2980b9;
  transform: scale(1.00);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn-secondary:hover {
  background-color: #2980b9;
  transform: scale(1.00);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}