
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* button style */
.btn-primary{
    background-color: #4E47FF;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    padding: 12px 36px;
    border-radius: 10px;

}

/* header style */
.head{
    background-image: url('../Assets/Hero-bg.png');
    padding-bottom: 50px;
    gap: 158px;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

/* banner styles */
.banner{
    margin: 158px 200px;
    text-align: center;
}

.banner-info{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

.banner-motto{
    text-align: left;
}

.banner-second{
    display: flex;
    justify-content: space-between;
    margin: 100px 200px;
    gap: auto;
}

.banner-second-intro{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}

.banner-pic{
    border-radius: 48px;
}

.banner-description{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 1);
}

/* section styles */
.section-intro{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    margin-top: 0px;
}

/* background styles */
.secondary-bg{
    background-color: rgba(78, 71, 255, 0.1);
}

/* user styles */
.user{
    max-width: 1140px;
    padding: 50px 80px;
    margin: 0 auto;
    border-radius: 24px;
    text-align: center;
}

.user-items{
    display: flex;
    justify-content: space-around;
    gap: 0px;
}

.item-title{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  color: #4E47FF;
  margin-top: 0px;
}

.item-des{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

/* user-feedback styles */
.user-feedback{
    margin-top: 100px;
    margin-bottom: 100px;
}

.feedback{
    display: flex;
    justify-content: center;
    margin: 0px;
    gap: 24px;

.feedback-dt{
    text-align: left;
    padding: 24px;
    max-width: 366.67px;
    box-shadow: 0px 6px 50px 0px #FFFFFF;
    border-radius: 14px;
}
}

.user-feedback-intro{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    text-align: center;
}

@import url('https://fonts.cdnfonts.com/css/monster-ag');
.feedback-title{
    font-family: 'AG Heading', sans-serif;                                
}

.feedback-details{
    font-family: 'AG Body Base', sans-serif;
}

.feedback-name{
    display: inline-flex;
    justify-content: space-between;
    font-family: 'AG Body Strong', sans-serif;
    margin-top: 0px;
}                                           
                 
.r-pic{
   border-radius: 50%;
   width: 40px;
   height: 40px;
}

/* footer styles */
.info{
    display: flex;
    justify-content: space-between;
}

.welcome{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 97px;
    color: #252432;
    text-align: left;
}

.l-name{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.input-text-content{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    display: block;
      display: block;
}

.input{
    gap: 100px;
    width: 100%;
    max-width: 497px;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: rgba(255, 255, 255, 0.5);
    display: block;
    width: 497px;
    padding: 16px 20px;
    margin-bottom: 24px;
    border: none;
    box-sizing: border-box;
}

textarea {
  display: block;
  width: 100%;
  padding: 16px 20px;
  margin-bottom: 24px;
  border-radius: 10px;
  border: 1px solid #D6DDED;
  visibility: visible;
  font-family: inherit;
  font-size: 1rem;
  box-sizing: border-box;
  font-size: 1rem;
}

.btn-secondary{
    background-color: #4E47FF;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    padding: 19px 101px;
    border-radius: 10px;
    width: 100%;
}